<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>
<body>
    <!--반복문 <div v-for="이름(임의로 정함) in 반복횟수(data에 있는 명령어로 가능)" :key="이름">
        key는 반복문을 돌린 요소를 컴퓨터가 구분하기 위해 씀 반복문 쓸때 꼭 쓰는게 좋음
    -->
    <div id="app">
        <!-- {{ a[0] }}  {{ a[1] }}  {{ a[2] }}  -->
        <div v-for="item in a" key="item">{{ item }}</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el:"#app",
            data(){
                return{
                    a: [ "사과", "바나나", "딸기", "포도", "오렌지" ],
                }
            }
        });
    </script>
</body>
</html>